.container {max-width: var(--max-width); padding: 0 2rem; margin: auto; overflow: hidden;}

.btn {display: inline-block; border: none; border-radius: 2px; padding: 0.7rem 1.7rem; color: #fff; cursor: pointer; font-weight: bold;
      transition: all 0.2s;}

.btn-pry, .bg-pry {background: var(--primary-color); color: #fff;}
.bg-sec, .btn-sec {background-color: var(--secondary-color); color: #fff;}
.btn-light, .bg-dark {background: var(--light-color); color: #333;}
.btn-dark, .bg-light {background: var(--dark-color); color: #fff;}
.btn-outline-light {border: 1px solid white;}
.btn-outline-dark {border: 1px solid var(--dark-color); color: #333}
.bg-medium {background: var(--medium-color); color: #333;}
.btn-pry:hover, .btn-4:hover {background: #fff; color: #333;}
.btn-sec:hover {background: var(--dark-color); color: #fff;}
.btn-dark:hover {background: var(--dark-color); color: #fff;}
.btn-outline-light:hover {background: #fff; color: #333;}
.btn-outline-dark:hover {background: #333; color: #fff;}
.btn-light:hover {background: var(--dark-color); color: #fff;}
.bg-pry h1, .bg-pry h2, .bg-pry h3, .bg-pry a {color: #fff;}

.py-1 {padding: 1.5 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.py-4 {padding: 4rem 0;}
.py-5 {padding: 5rem 0;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.secondary-color {color: var(--secondary-color);}

.section-title {padding-bottom: 0.5rem; font-size: 2rem; font-weight: 100; text-transform: capitalize;}